.mediaViewInfo {
    --web-view-name: Web 1366 – 1;
    --web-view-id: Web_1366___1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Web_1366___1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: black;
}

#Web_1366___1 {
    position: absolute;
    width: 1366px;
    height: 4738px;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    --web-view-name: Web 1366 – 1;
    --web-view-id: Web_1366___1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#header {
    position: absolute;
    width: 1335px;
    height: 1531px;
    left: -9px;
    top: -98px;
    overflow: visible;
}

#header_bg {
    opacity: 0.574;
    position: absolute;
    width: 1225px;
    height: 1531px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#theraBeats {
    position: absolute;
    width: 145px;
    height: 33px;
    left: 51px;
    top: 139px;
    overflow: visible;
}

#header_links {
    position: absolute;
    width: 934px;
    height: 24px;
    left: 401px;
    top: 144px;
    overflow: visible;
}

#Nikola {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    line-height: 46px;
    margin-top: -14px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#CardioNosis {
    position: absolute;
    left: 99px;
    top: 0px;
    overflow: visible;
    width: 119px;
    white-space: nowrap;
    line-height: 46px;
    margin-top: -14px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#GlobePred {
    position: absolute;
    left: 252px;
    top: 0px;
    overflow: visible;
    width: 104px;
    white-space: nowrap;
    line-height: 46px;
    margin-top: -14px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#PROJECT {
    position: absolute;
    left: 390px;
    top: 0px;
    overflow: visible;
    width: 73px;
    white-space: nowrap;
    line-height: 46px;
    margin-top: -14px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#ARISVEAM {
    position: absolute;
    left: 497px;
    top: 0px;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    line-height: 46px;
    margin-top: -14px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#ABOUT_US {
    position: absolute;
    left: 848px;
    top: 0px;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    line-height: 46px;
    margin-top: -13px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(193, 193, 193, 1);
}

#header_text {
    position: absolute;
    width: 479px;
    height: 147px;
    left: 333px;
    top: 328px;
    overflow: visible;
}

#ID3 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 79px;
    white-space: nowrap;
    text-align: center;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 130px;
    color: rgba(255, 255, 255, 1);
}

#Vigor_______Services {
    position: absolute;
    left: 79px;
    top: 19px;
    overflow: visible;
    width: 207px;
    white-space: nowrap;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: rgba(255, 255, 255, 1);
}

.Line_1 {
    overflow: visible;
    position: absolute;
    width: 67px;
    height: 3px;
    left: 272.5px;
    top: 49.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#ONE__SUITE_ {
    position: absolute;
    left: 369px;
    top: 19px;
    overflow: visible;
    width: 111px;
    white-space: nowrap;
    line-height: 43px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(193, 193, 193, 1);
}

#About_TheraBeats {
    position: absolute;
    width: 1366px;
    height: 675px;
    left: 0px;
    top: 664px;
    overflow: visible;
}

.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 675px;
    left: 0px;
    top: 0px;
}

#theraBeats_x {
    position: absolute;
    width: 309px;
    height: 70px;
    left: 637px;
    top: 50px;
    overflow: visible;
}

#About {
    position: absolute;
    left: 420px;
    top: 52px;
    overflow: visible;
    width: 203px;
    white-space: nowrap;
    line-height: 75px;
    margin-top: -4px;
    text-align: center;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 67px;
    color: rgba(255, 255, 255, 1);
}

#TheraBeats_is_a_suite_of_3_vig {
    position: absolute;
    left: 138px;
    top: 182px;
    overflow: visible;
    width: 1092px;
    height: 426px;
    line-height: 41px;
    margin-top: -7px;
    text-align: center;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
}

.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 42px;
    height: 513px;
    left: 0px;
    top: 162px;
}

.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 43px;
    height: 367px;
    left: 80px;
    top: 308px;
}

.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 42px;
    height: 493px;
    left: 1265px;
    top: 182px;
}

#Nikola_ {
    position: absolute;
    width: 1366px;
    height: 733px;
    left: 0px;
    top: 1419px;
    overflow: visible;
}

.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 669px;
    height: 733px;
    left: 0px;
    top: 0px;
}

#Nikola_ba {
    position: absolute;
    left: 237px;
    top: 37px;
    overflow: visible;
    width: 211px;
    white-space: nowrap;
    text-align: center;
    font-family: Amatic;
    font-style: normal;
    font-weight: bold;
    font-size: 98px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.8px;
}

#Nikola_is_your_AI_companion__t {
    position: absolute;
    left: 102px;
    top: 209px;
    overflow: visible;
    width: 503px;
    height: 472px;
    line-height: 51px;
    margin-top: -11.5px;
    text-align: center;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
}

.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 669px;
    height: 733px;
    left: 697px;
    top: 0px;
}

#nikola {
    position: absolute;
    width: 420px;
    height: 420px;
    left: 820px;
    top: 43px;
    overflow: visible;
}

#Personal_users_under_the_state {
    position: absolute;
    left: 763px;
    top: 517px;
    overflow: visible;
    width: 535px;
    height: 162px;
    line-height: 37px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
}

#globePred {
    position: absolute;
    width: 1366px;
    height: 545px;
    left: 0px;
    top: 3078px;
    overflow: visible;
}

.Rectangle_9_bc {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 545px;
    left: 0px;
    top: 0px;
}

#GlobePred_is_a_diagnosis_tool_ {
    position: absolute;
    left: 806px;
    top: 52px;
    overflow: visible;
    width: 529px;
    height: 457px;
    line-height: 32px;
    margin-top: -1px;
    text-align: center;
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.51px;
}

#GlobePred_text {
    position: absolute;
    width: 718px;
    height: 299px;
    left: 50px;
    top: 123px;
    overflow: visible;
}

#cardioNosis {
    position: absolute;
    width: 1366px;
    height: 944px;
    left: 0px;
    top: 2201px;
    overflow: visible;
}

.Rectangle_8_bh {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 838px;
    left: 0px;
    top: 0px;
}

#CardioNosis_bi {
    position: absolute;
    width: 358px;
    height: 546px;
    left: 504px;
    top: 398px;
    overflow: visible;
}

#CardioNosis_text {
    position: absolute;
    width: 670px;
    height: 78px;
    left: 348px;
    top: 43px;
    overflow: visible;
}

#Over_17_1_Million_people_world {
    position: absolute;
    left: 50px;
    top: 161px;
    overflow: visible;
    width: 634px;
    height: 237px;
    line-height: 46px;
    margin-top: -8px;
    text-align: center;
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.51px;
}

#CardioNosis_uses_classical_Mac {
    position: absolute;
    left: 50px;
    top: 429px;
    overflow: visible;
    width: 428px;
    height: 371px;
    line-height: 47px;
    margin-top: -8.5px;
    text-align: center;
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.51px;
}

#Examples_of_parameters_to_be_u {
    position: absolute;
    left: 720px;
    top: 168px;
    overflow: visible;
    width: 622px;
    height: 237px;
    line-height: 56px;
    margin-top: -13px;
    text-align: center;
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.51px;
}

#CardioNosis_target_users_inclu {
    position: absolute;
    left: 889px;
    top: 429px;
    overflow: visible;
    width: 428px;
    height: 371px;
    line-height: 47px;
    margin-top: -8.5px;
    text-align: center;
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.51px;
}

#ArisExodus {
    position: absolute;
    width: 1366px;
    height: 992px;
    left: 0px;
    top: 3567px;
    overflow: visible;
}

.Rectangle_14 {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 887px;
    left: 0px;
    top: 105px;
}

#ID496620963b46b898200995b72cd3 {
    position: absolute;
    width: 706px;
    height: 365px;
    left: 330px;
    top: 351px;
    overflow: visible;
}

.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 66px;
    height: 992px;
    left: 0px;
    top: 0px;
}

.Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 48px;
    height: 717px;
    left: 115px;
    top: 275px;
}

.Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 49px;
    height: 966px;
    left: 1295px;
    top: 26px;
}

#About_Team_ArisExodus {
    position: absolute;
    left: 115px;
    top: 127px;
    overflow: visible;
    width: 794px;
    white-space: nowrap;
    text-align: left;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.31px;
}

#ArisExodus_is_a_team_of_3_pass {
    position: absolute;
    left: 241px;
    top: 245px;
    overflow: visible;
    width: 885px;
    white-space: nowrap;
    line-height: 42px;
    margin-top: -8.5px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
}

#The_team_leader_of_ArisExodus_ {
    position: absolute;
    left: 241px;
    top: 783px;
    overflow: visible;
    width: 885px;
    height: 176px;
    line-height: 35px;
    margin-top: -7px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
}

#Footer {
    position: absolute;
    width: 312px;
    height: 112px;
    left: 527px;
    top: 4599px;
    overflow: visible;
}

#theraBeats_by {
    position: absolute;
    width: 274px;
    height: 62px;
    left: 19px;
    top: 0px;
    overflow: visible;
}

#ID2020___An_ArisExodus_Product {
    position: absolute;
    left: 0px;
    top: 87px;
    overflow: visible;
    width: 313px;
    white-space: nowrap;
    line-height: 35px;
    margin-top: -7px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}